<!doctype html>
<html>
<head>
    <title>Walmart - Blogger, Blogger Details</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h3><span class="fa fa-sign-in"></span><%= blog.title %></h3>


    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

        <div class="form-group">
            <label>Created By</label>
            <label><%= blogCreator.firstname %></label>
        </div>
    <a href="/blogpost/<%= blog._id %>" class="btn btn-default btn-sm">Create Post</a>
    <hr>

    <div class="well">
            <h3><span class="fa fa-laptop"></span> My Posts</h3>
                
                 <% for (var post in posts) { %>
                 <ul class="list-inline">
                    <li><%= posts[post].title %><br></li>
                    <li><%= posts[post].content %> <br></li>
                    <li><%= posts[post].image %> <br></li>
                    <li><a href="/editpost/<%= posts[post]._id%>" class="btn btn-default btn-sm">Edit</a>   <br></li>
                </ul>                      
                <% } %>
                
    </div>


    <p>Back to <a href="/profile">home</a></p>

</div>
</div>
<script>
    function submitForm(action)
    {   
        document.getElementById('postForm').action = action
        document.getElementById('postForm').submit()
    }
</script>
</body>
</html>
