<!doctype html>
<html>
<head>
    <title>Walmart - Blogger, Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Page </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/createblog" class="btn btn-default btn-sm">Create Blog</a>
        <% if(blogs && blogs.length > 0) { %>
        <a href="/blogpost/<%= blogs[0]._id%>" class="btn btn-default btn-sm">Post</a>
        <% } %>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="well">
            <h3><span class="fa fa-laptop"></span> Hi.. <%= user.firstname %> <%= user.lastname %></h3>
                <p>
                    <strong>user name</strong> <%= user.username %><br>
                    <strong>password</strong> <%= user.password %><br>
                    <strong>email</strong> <%= user.email %><br>
                                   
                </p>
                
        </div>

        <div class="well">
            <h3><span class="fa fa-laptop"></span> My Blogs</h3>
                
                 <% for (var blog in blogs) { %>
                 <ul class="list-inline">
                    <li>
                    <li><a href="/blog/<%= blogs[blog]._id%>" class="btn btn-default btn-sm"><%= blogs[blog].title %></a></li>
                    <li><%= blogs[blog].description%> <br></li>
                </ul>                                      
                <% } %>
                
        </div>

        <div class="well">
            <h3><span class="fa fa-laptop"></span> My Posts</h3>
                
                 <% for (var post in posts) { %>
                 <ul class="list-inline">
                    <li><%= posts[post].title %><br></li>
                    <li><%= posts[post].content %> <br></li>
                    <li><%= posts[post].image %> <br></li>
                    <li><%= posts[post].createdDate %> <br></li>
                    <li><a href="/editpost/<%= posts[post]._id%>" class="btn btn-default btn-sm">Edit</a>   <br></li>
                    <li><a href="/deletepost/<%= posts[post]._id%>" class="btn btn-default btn-sm">Delete</a>   <br></li>

                </ul>                      
                <% } %>
                
        </div>

        <div class="well">
            <h3><span class="fa fa-laptop"></span> My Comments</h3>
                
                 <% for (var comment in comments) { %>
                 <ul class="list-inline">
                    <li><%= comments[comment].comments %><br></li>
                    <li><%= comments[comment].createdDate %> <br></li>
                </ul>                      
                <% } %>
                
        </div>


</div>
</body>
</html>
